*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Arial, Helvetica, sans-serif;
color:#0f172a;

background: linear-gradient(180deg,#0f172a 0%,#020617 100%);

}

.container{

width:90%;
max-width:1100px;
margin:auto;

}

/* HEADER */

header{

background: rgba(15,23,42,0.7);

padding:20px 0;

border-bottom:1px solid rgba(255,255,255,0.08);

}

header .container{

display:flex;
justify-content:space-between;
align-items:center;

}

header h1{

color:white;

}

header ul{

display:flex;
gap:20px;
list-style:none;

}

header a{

color:#cbd5f5;
text-decoration:none;

}

/* HERO */

.hero{

padding:120px 0;

text-align:center;

background: radial-gradient(circle at top,#1e293b,#020617);

}

.hero h2{

color:white;
font-size:3rem;

}

.hero p{

color:#94a3b8;

margin:20px 0 30px;

}

/* BOUTONS */

.cta,.btn{

background:#6366f1;

padding:14px 28px;

border-radius:10px;

color:white;

text-decoration:none;

display:inline-block;

transition:.3s;

}

.cta:hover,.btn:hover{

background:#4f46e5;

transform:translateY(-2px);

box-shadow:0 10px 30px rgba(99,102,241,0.4);

}

/* ABOUT */

.about{

background:#020617;

padding:80px 0;

}

.about-flex{

display:flex;
gap:40px;
align-items:center;

}

.about img{

width:50%;
border-radius:14px;

}

.about h2{

color:white;

}

.about p{

color:#94a3b8;

}

/* SERVICES */

.services{

background:#020617;

padding:80px 0;

text-align:center;

}

.services h2{

color:white;

}

.cards{

display:flex;
gap:30px;
margin-top:40px;

}

.card{

background:#0f172a;

padding:20px;

border-radius:14px;

border:1px solid rgba(255,255,255,0.05);

transition:.3s;

}

.card img{

width:100%;
border-radius:10px;

margin-bottom:15px;

}

.card h3{

color:white;

}

.card p{

color:#94a3b8;

}

.card:hover{

transform:translateY(-6px);

border:1px solid rgba(99,102,241,0.6);

}

/* CTA */

.cta-section{

padding:100px 0;

text-align:center;

background:linear-gradient(90deg,#6366f1,#4f46e5);

}

.cta-section h2{

color:white;

}

.cta-section p{

color:#e0e7ff;

margin-bottom:25px;

}

/* FOOTER */

footer{

background:#020617;

padding:40px;

text-align:center;

color:#64748b;

}

/* RESPONSIVE */

@media(max-width:900px){

.about-flex{

flex-direction:column;

}

.about img{

width:100%;

}

.cards{

flex-direction:column;

}

}